<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>授权页面</title>
    <!--<link rel="stylesheet" href="{% static 'css/lite/add_itme.min.css' %}">-->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1000923_tdxwsxvnp08.css">
     <link rel="stylesheet" href="//at.alicdn.com/t/font_1000923_tdxwsxvnp08.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1000923_b9gb4zj6r9.css">
    <link rel="stylesheet" href="{% static 'css/use/use_mysql_command.min.css' %}">
</head>
<body>
<input type="submit" id="edit-item-btn1" class="submit-btn edit-item-btn" value="编辑按钮">
    这是授权的页面
<div class="mysql-wrapper1" style="display:block;">
     <div class="mysql-wrapper">
            <div class="close-wrapper">
                <span id="x-btn" class="close-btn icon-close iconfont"></span>
            </div>
            <div class="auth-inner-wrapper">
                <div class="scroll-wrapper">
                    <div class="signup-group auth-group">
                        <div class="top-group">
                                <span id="title-yl" class="title all-css-e">获取mysql返回值:</span>
                            </div>
                        <div action="" class="form-group">
                            <div class="input-group">
                                <label class="itme all-css-e" >SQL序号:</label>
                                <input type="text" id="yl-order" class="form-cont" name="case_order" placeholder="输入顺序" maxlength="3" onkeyup="value=value.replace(/[^\d]/g,'')">
                            </div>
                            <div class="input-group">
                                <label class="Development all-css-e">关联的数据库:</label>
                                <select id="correlation-module" name="module" class="form-control-select belong_project sz-form">
                                        <option class="option" value ="0" >----请选择模块----</option>
                                    {% for i in module %}
                                        <option class="option" value ="{{ i.id }}">{{ i.module_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <p style="color:red;font-size:5px;">SQL序号是在用例添加的form-data里选择下拉框mysql,然后在后面选择这个sql序号就可以</p>
                                    <p style="color:red;font-size:5px;">获取该查询的结果,如果是json的data值,就输入#加sql序号才可以调用这个查询命令结果的参数</p>
                            </div>
                            <div class="input-group input-group1">
                            <label class="describe all-css-e">SQL命令:</label>
                            <textarea  id="simple_desc" class="form-text" name="sql_ml" placeholder="请输入sql命令" maxlength="300"></textarea>
                        </div>
                            <div class="input-group input-buttom">
                                <input type="submit" class="btn btn-warning " value="取消按钮">
                                <input type="submit" id="submit-btn-bule" class="btn submit-btn btn-primary" value="保存按钮">
                                <input type="submit" id="edit-item-btn" class="btn submit-btn btn-success" value="编辑按钮">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </div>
</body>

</html>cancel-btn