<div class="sidebar-wrapper">
                    <div class="title-group">
                        <div class="title-marign">
                            <span class="title">小饭桌创业课堂</span>
                            <a class="more" href="#">更多</a>
                        </div>
                    </div>
                    <div class="advertise-group">
                        <a class="group" href="#">
                            <img src="https://static-fancube.xfz.cn/1564990010871/背景图.jpg-website.active.list" alt="">
                        </a>
                    </div>
                    <div class="platform-group">
                         <div class="title-group">
                            <div class="title-marign">
                                <span class="title">关注小饭桌</span>
                            </div>
                        </div>
                        <div class="focus-group">
                            <ul class="left-group">
                                <li class="zhihu">
                                    <a href="#" target="_blank"><!--target="_blank"就是当点击这个a标签的链接会自动在浏览器里以新的title拦打开一个-->
                                        小饭桌创业课堂
                                    </a>
                                </li>
                                <li class="weibo">
                                    <a href="#" target="_blank">
                                        微博
                                    </a>
                                </li>
                                <li class="toutiao">
                                    <a href="#" target="_blank">
                                        头条
                                    </a>
                                </li>
                            </ul>
                            <div class="right-group">
                                <p class="desc">
                                    扫码关注小饭桌
                                </p>
                                <p class="desc1">
                                    微信公众平台xfz008
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="hot-news-group">
                        <div class="title-group">
                            <div class="title-marign">
                            <span class="title">热门推荐</span>
                        </div>
                        </div>
                        <ul class="hot-list-group">
                            <li>
                                <a href="#" target="_blank">
                                    <div class="left-group">
                                        <span>早报：微信：今年七夕没有520红包；谷歌被指阻止特</span>
                                        <p class="left-p">热点</p>
                                        <p class="right-p">08月07日</p>
                                    </div>
                                    <div class="right-group">
                                        <img src="https://static-image.xfz.cn/1565137160_765.jpg-website.news.list">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="news-flash">
                        <div class="flash-title">
                            <p>小饭桌快讯</p>
                            <a href="#">更多</a>
                        </div>
                    </div>
                    <div class="news-flash-list">
                        <ul class="flash-ul">
                            <li>
                                <div class="flash-title">
                                    <p>国家互联网应急中心：2018年逾3500个移动互联网恶意程序被下架</p>
                                </div>
                                <div class="flash-time">
                                    <p>22分钟前</p>
                                </div>
                            </li>
                            <li>
                                <div class="flash-title">
                                    <p>网易有道技术总监：“AI+教育”的目标是武装老师，而不是取代老师</p>
                                </div>
                                <div class="flash-time">
                                    <p>22分钟前</p>
                                </div>
                            </li>
                            <li>
                                <div class="flash-title">
                                    <p>Lyft将公开开放式自动驾驶数据集</p>
                                </div>
                                <div class="flash-time">
                                    <p>1小时前</p>
                                </div>
                            </li>
                            <li>
                                <div class="flash-title">
                                    <p>陌陌旗下公司推出社交App“瞧瞧”</p>
                                </div>
                                <div class="flash-time">
                                    <p>2小时前</p>
                                </div>
                            </li>
                            <li>
                                <div class="flash-title">
                                    <p>电影《哪吒之魔童降世》累计票房超6亿元，已成国产动画电影票房亚军</p>
                                </div>
                                <div class="flash-time">
                                    <p>2小时前</p>
                                </div>
                            </li>
                            <li>
                                <div class="flash-title">
                                    <p>vivo秦飞：5G不是靠流量赚钱，应该靠价值来赚钱</p>
                                </div>
                                <div class="flash-time">
                                    <p>3小时前</p>
                                </div>
                            </li>
                            <li>
                                <div class="flash-title">
                                    <p>百事公司计划在印度投资51亿卢比建立零食工厂</p>
                                </div>
                                <div class="flash-time">
                                    <p>3小时前</p>
                                </div>
                            </li>
                            <li>
                                <div class="flash-title">
                                    <p>四大房企与国网恒大签约，发力社区智慧充电</p>
                                </div>
                                <div class="flash-time">
                                    <p>3小时前</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="button-red">
                        <button>查看更多</button>
                    </div>
                </div>