.mask-template{
    background:#fff;
    border-radius: 4px;//设置边框的角
    $authWrapperHeight:226px;//这里取一个变量设置它的高度
    $authWrapperWidth:350px;
    width:$authWrapperWidth;
    height:$authWrapperHeight;
    margin:0 auto;
    //margin-top:80px;
    &:hover{
         box-shadow: 2px 6px 0 0 #C9C9C9;
    }
    .module-row{
        padding:5px;
        border-left: 4px solid #e63929;
        //margin-bottom:10px;
        overflow:hidden;
        //height:53px;
         .information1{
            font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STHeitiSC-Light,simsun,\\5B8B\4F53,WenQuanYi Zen Hei,WenQuanYi Micro Hei,sans-serif;
            font-size:15px;
            margin-left:20px;
            float:left;
            margin-right:10px;
            margin-top:20px;
            color: #000;
            font-weight:600;
            font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
        }
        .information{
            font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STHeitiSC-Light,simsun,\\5B8B\4F53,WenQuanYi Zen Hei,WenQuanYi Micro Hei,sans-serif;
            font-size:15px;
            margin-left:3px;
            float:left;
            margin-right:10px;
            margin-top:20px;
            color: #858b9c;
            font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
        }
    }
}