.mask-wrapper{
    z-index:10000;
    display:none;
    position:fixed;//这个是固定定位，固定浏览器位置进行定位
    right:0;
    left:0;
    top:0;
    bottom:0;
    overflow-y:scroll;//这个是设置y租的滚动条，就是内容多出来会在右边显示滚动条
    background:rgba(0,0,0,0.6);//这样可以设置透明度，rgba代表红，绿，蓝，黑4种颜色，后面的黑设置0.3就是黑色的透明度，其他设置0就是没有其他颜色
    .auth-wrapper{
        $authWrapperHeight:710px;//这里取一个变量设置它的高度
        $authWrapperWidth:500px;
        width:$authWrapperWidth;
        height:$authWrapperHeight;
        //background:#fff;
        //margin:120px auto;
        position:absolute;//绝对定位
        top:50%;
        left:50%;
        margin-left:-$authWrapperWidth/2;
        margin-top:-$authWrapperHeight/2;
        .close-wrapper{
            width:100%;
            height:30px;
            background:#fff;
            box-sizing:border;
            padding-top:10px;
            .close-btn{
                display:inline-block;//这样就设置span为一个盒子，可以设置它的长高
                width:30px;
                height:20px;
                float:right;
                //margin-top:16px;
                color:#cdcdcd;
                background:#fff;
                font-size:14px;//s设置大小
                cursor:pointer;
            }
        }
        .auth-inner-wrapper{
            marign-top:50px;
            width:100%;
            height:$authWrapperHeight - 50px;
            //background:#ccc;
            position:relative;
            overflow:hidden;
            .scroll-wrapper{
                width:$authWrapperWidth + $authWrapperWidth;
                //height:100%;
                position:absolute;
                left:0;
                top:0;
                //background:#fff;
                .auth-group{
                    width:$authWrapperWidth;
                    height:100%;
                    padding:20px;
                    padding-top:1px;
                    box-sizing:border-box;
                    .top-group{
                       height:30px;
                       border-bottom:1px solid #eee;
                       line-height:28px;
                       font-family: 'Microsoft YaHei',Helvetica,Arial,sans-serif;
                       font-size:16px;
                       .title{
                        float:left;
                        color:#000;
                        border-bottom:3px solid #2da7fe;
                       }
                       .switch{
                        float:right;
                        color:#2da7fe;
                       }
                    }
                    .form-group{
                        margin-top:20px;
                        .input-group{
                            //margin-bottom:10px;
                            overflow:hidden;
                            //height:53px;
                            .all-css-e{
                                font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STHeitiSC-Light,simsun,\\5B8B\4F53,WenQuanYi Zen Hei,WenQuanYi Micro Hei,sans-serif;
                                font-size:14px;
                                margin-left:37px;
                                float:left;
                                margin-right:10px;
                                margin-top:10px;
                                color: #858b9c;
                                font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
                            }
                            .form-control{
                                border:1.5px solid #ccc;
                                padding:10px;
                                margin-bottom:20px;
                                box-sizing:border-box;
                                width:300px;
                                border: 1px solid #dcdfe6;
                                color: #858b9c;
                                float:left;
                                height:40px;
                                outline:none;
                                //font-size:12px;
                                font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STHeitiSC-Light,simsun,\\5B8B\4F53,WenQuanYi Zen Hei,WenQuanYi Micro Hei,sans-serif;
                                border-radius: 4px;//设置边框的角
                                font-size: 13px;
                                //font-weight: 600;
                                box-sizing: border-box;
                                ont-family: 'Microsoft YaHei',Helvetica,Arial,sans-serif;
                            }
                            .form-text{
                                border:1.5px solid #ccc;
                                padding:10px;
                                margin-bottom:20px;
                                box-sizing:border-box;
                                width:300px;
                                border: 1px solid #dcdfe6;
                                color: #858b9c;
                                float:left;
                                height:100px;
                                outline:none;
                                //font-size:12px;
                                font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STHeitiSC-Light,simsun,\\5B8B\4F53,WenQuanYi Zen Hei,WenQuanYi Micro Hei,sans-serif;
                                border-radius: 4px;//设置边框的角
                                font-size: 13px;
                                //font-weight: 600;
                                box-sizing: border-box;
                                ont-family: 'Microsoft YaHei',Helvetica,Arial,sans-serif;

                            }
                            .remember-label{
                                //margin-top:100px;
                                font-size:13px;
                                color:#666;
                                ont-family: 'Microsoft YaHei',Helvetica,Arial,sans-serif;
                                input{
                                    margin-right:10px;
                                }
                            }
                            .submit-btn{
                                border-radius: 5px;//设置边框的角
                                margin-top:10px;
                                margin-left:10px;
                                width:80px;
                                height:40px;
                                background:#3f89ec;
                                color:#fff;
                                font-size:16px;
                                //font-weight: 800;
                                border:none;
                                cursor:pointer;

                                &:hover{
                                    background:#4490f7;
                                }
                            }
                            .submit-btn-bule{
                                display:none;
                            }
                            .edit-item-btn{
                                display:none;
                            }
                            .submit-btn-red{
                                margin-left:150px;
                                border-radius: 5px;//设置边框的角
                                margin-top:10px;
                                width:80px;
                                height:40px;
                                background: #e63929;
                                color:#fff;
                                font-size:16px;
                                //font-weight: 800;
                                border:none;
                                cursor:pointer;
                                &:hover{
                                    background:red;
                                }
                            }
                            .short-input-group{
                                   width:220px;
                                   float:left;
                            }
                            .input-group-addon{
                                   float:right;

                                   width:120px;
                                .sms-captcha-btn{
                                cursor:pointer;
                                       width:100%;
                                       height:100%;
                                       border:1px solid #4490f7;
                                       font-size:15px;
                                       line-height:40px;
                                       box-sizing:border-box;
                                       padding:10px;
                                       font-weight: 600;
                                       background:#5b86db;
                                       color:#fff;
                                       border-radius: 5px;
                                    ont-family: 'Microsoft YaHei',Helvetica,Arial,sans-serif;
                                }
                                .disabled{
                                    color:#ccc;
                                    border-color:#ccc;
                                    cursor: not-allowed;
                                    margin-top:10px;
                                    width:100%;
                                    height:40px;
                                    background:#3f89ec;
                                    color:#fff;
                                    font-size:16px;
                                    font-weight: 800;
                                    border:none;
                                    border-radius:2px;
                                    cursor:pointer;
                                }
                            }
                        }
                    }
                }
                .signin-group{
                    float:left;
                    background:#fff;
                }
                .signup-group{
                    float:left;
                    background:#fff;
                }
            }
        }
        }

}
.mask-none{
    z-index:10000;
    display:none;
    position:fixed;//这个是固定定位，固定浏览器位置进行定位
    right:0;
    left:0;
    top:0;
    bottom:0;
    overflow-y:scroll;//这个是设置y租的滚动条，就是内容多出来会在右边显示滚动条
    background:rgba(0,0,0,0.6);//这样可以设置透明度，rgba代表红，绿，蓝，黑4种颜色，后面的黑设置0.3就是黑色的透明度，其他设置0就是没有其他颜色
    .prompt-box{
        $authWrapperHeight:710px;//这里取一个变量设置它的高度
        $authWrapperWidth:300px;
        width:$authWrapperWidth;
        height:$authWrapperHeight;
        //background:#fff;
        //margin:120px auto;
        position:absolute;//绝对定位
        top:80%;
        left:50%;
        margin-left:-$authWrapperWidth/2;
        margin-top:-$authWrapperHeight/2;
        .close-wrapper{
            line-height:40px;
            width:100%;
            height:50px;
            background:#fff;
            box-sizing:border;
            padding-top:10px;
            .title{
                //overflow:hidden;
                width:60px;
                height:40px;
                line-height:40px;
                float:left;
                //margin-left:10px;
                .ts-title{
                    //font-size:14px;
                    margin-left:10px;
                    font-size: 20px;
                    line-height: 1;
                    color: #333;
                    text-rendering: optimizeLegibility;
                    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
                }
            }
            .close-btn1{
                display:inline-block;//这样就设置span为一个盒子，可以设置它的长高
                width:30px;
                height:20px;
                float:right;
                //margin-top:16px;
                color:#cdcdcd;
                background:#fff;
                font-size:15px;//s设置大小
                cursor:pointer;
            }
        }
        .Prompt-content{
            width:100%;
            height:100px;
            background:#fff;
            border-top: 1px solid #2da7fe;
            .Prompt-text{
                line-height:50px;
                float:left;
                width:100%;
                height:50px;
                .text-context{
                    margin-left:10px;
                    color: #858b9c;
                    font-size: 16px;
                    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
                }
            }
            .confirm{
                float:left;
                width:100%;
                height:50px;
                .delete-btn-red{
                   border-radius: 5px;//设置边框的角
                   margin-top:10px;
                   margin-left:70px;
                   width:70px;
                   height:30px;
                   background:#e63929;
                   color:#fff;
                   font-size:13px;
                   //font-weight: 800;
                   border:none;
                   cursor:pointer;

                   &:hover{
                      background:red;
                   }
                }
                .cancel-btn{
                   border-radius: 5px;//设置边框的角
                   margin-top:10px;
                   margin-left:10px;
                   width:70px;
                   height:30px;
                   background:#3f89ec;
                   color:#fff;
                   font-size:13px;
                   //font-weight: 800;
                   border:none;
                   cursor:pointer;

                   &:hover{
                      background:#4490f7;
                   }
                }
            }
        }
    }
}
.page-wrapper{
        .row{
            .col-md-12{
                .panel-default{
                    .panel-body{
                        .table-responsive{
                            .table-striped{
                                .tbody-xm{
                                    .td-xm{
                                        .btn-prohibit{
                                            cursor:not-allowed;
                                            //pointer-events:none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
}