.many-use-wrapper{
    z-index:10000;
    display:none;
    position:fixed;//这个是固定定位，固定浏览器位置进行定位
    right:0;
    left:0;
    top:0;
    bottom:0;
    overflow-y:scroll;//这个是设置y租的滚动条，就是内容多出来会在右边显示滚动条
    background:rgba(0,0,0,0.6);//这样可以设置透明度，rgba代表红，绿，蓝，黑4种颜色，后面的黑设置0.3就是黑色的透明度，其他设置0就是没有其他颜色
    .auth-wrapper{
        //border-radius:5px;
        $authWrapperHeight:673px;//这里取一个变量设置它的高度
        $authWrapperWidth:1200px;
        width:$authWrapperWidth;
        height:$authWrapperHeight;
        //background:#fff;
        //margin:120px auto;
        position:absolute;//绝对定位
        top:50%;
        left:50%;
        margin-left:-$authWrapperWidth/2;
        margin-top:-$authWrapperHeight/2;
        .close-wrapper{
            width:100%;
            height:30px;
            background:#fff;
            box-sizing:border;
            padding-top:10px;
            .close-btn{
                display:inline-block;//这样就设置span为一个盒子，可以设置它的长高
                width:30px;
                height:20px;
                float:right;
                //margin-top:16px;
                color:#cdcdcd;
                background:#fff;
                font-size:14px;//s设置大小
                cursor:pointer;
            }
        }
        .auth-inner-wrapper{
            marign-top:50px;
            width:100%;
            height:$authWrapperHeight;
            //background:#ccc;
            position:relative;
            overflow:hidden;
            .scroll-wrapper{
                width:$authWrapperWidth + $authWrapperWidth;
                //height:100%;
                position:absolute;
                left:0;
                top:0;
                //background:#fff;
                .auth-group{
                    width:$authWrapperWidth;
                    height:100%;
                    padding:20px;
                    padding-top:1px;
                    box-sizing:border-box;
                    background:#fff;
                    .top-group{
                       height:30px;
                       border-bottom:1px solid #eee;
                       line-height:28px;
                       font-family: 'Microsoft YaHei',Helvetica,Arial,sans-serif;
                       font-size:16px;
                       //background:#fff;
                       .title{
                        float:left;
                        color:#000;
                        border-bottom:3px solid #2da7fe;
                       }
                       .switch{
                        float:right;
                        color:#2da7fe;
                       }
                    }
                    .form-group{
                        margin-top:20px;
                        .form-div{
                            .panel-default{
                                .panel-body{
                                    .table-responsive1{
                                        .table-table{
                                            .tbody-use{
                                                .tr-use{
                                                    .td-use{
                                                        //text-overflow: ellipsis; /* 显示... */
                                                        overflow: hidden; /* 隐藏文字 */
                                                        //white-space: nowrap; /* 不换行 */
                                                        //cursor: pointer; /* hover显示手形 */
                                                        width:123px;
                                                        background:#eee;
                                                        border: 1px solid #ddd;
                                                        .span-td{
                                                            width:180px;
                                                            font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STHeitiSC-Light,simsun,\\5B8B\4F53,WenQuanYi Zen Hei,WenQuanYi Micro Hei,sans-serif;
                                                            overflow: hidden;
                                                            text-overflow: ellipsis; /* 显示... */
                                                            overflow: hidden; /* 隐藏文字 */
                                                            white-space: nowrap; /* 不换行 */
                                                            cursor: pointer; /* hover显示手形 */
                                                            height:50px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}