{% extends 'cms/base.html' %}

{% block title %}发布文章页面{% endblock %}

{% block head %}
<script src="https://unpkg.com/qiniu-js@2.5.5/dist/qiniu.min.js"></script>
<!--因为我们需要引用七牛云的js的sdk，所以我们这里把七牛云的sdk地址进行加载到这里，我们就可以在js使用七牛云的js
@后面的是七牛云的js的sdk的版本号，可以在下载sdk页面里看到版本-->
<!--下面是导入ueditor里的2个js文件，这样我们就可以在这个模板里使用到ueditor富文本的js代码-->
<script src="{% static 'ueditor/ueditor.config.js' %}"></script><!--这个js一定要在下面的js前面，否则不会显示-->
<script src="{% static 'ueditor/ueditor.all.min.js' %}"></script>
<script src="{% static 'js/write_news.min.js' %}"></script>
{% endblock %}

{% block content-header %}
<h1>发布文章页面</h1>
{% endblock %}
{% block content %}
  <div class="row"><!--这些都是boxstart里的样式-->
      <div class="col-md-11"><!--col-md-12的class样式是指这个框架大小占据整个屏幕，如果设置col-md-6就是一半-->
          <div class="box box-info"><!--这里是设置顶部的颜色-->
              <form action="" class="form-horizontal">
                 <div class="box-body"><!--这里是储蓄所有的输入框-->
                    <div class="form-group">
                      <label for="title-form" class="col-sm-1 control-label">文章标题</label><!--label标签的for作用，如果这个for设置input标签的id，这样我们点击这个标题，就会在for里设置的input的id的input输入框里显示一个输入内容的纵行线-->
                      <div class="col-sm-5">
                        <input placeholder="请输入标题" type="text" class="form-control" name="title" id="title-form" maxlength="30">
                      </div>
                      </div>
                     <div class="form-group">
                      <label for="category-form" class="col-sm-1 control-label">文章分类</label><!--label标签的for作用，如果这个for设置input标签的id，这样我们点击这个标题，就会在for里设置的input的id的input输入框里显示一个输入内容的纵行线-->
                      <div class="col-sm-2">
                         <select name="category" id="category-form" class="form-control">
                             {% for i in categories %}
                                <option value="{{ i.pk }}">{{ i.name }}</option>
                           {% endfor %}
                      </select>
                      </div>
                    </div>
                     <div class="form-group">
                      <label for="desc-form" class="control-label col-sm-1">文章描述</label><!--label标签的for作用，如果这个for设置input标签的id，这样我们点击这个标题，就会在for里设置的input的id的input输入框里显示一个输入内容的纵行线-->
                      <div class="col-sm-5">
                         <input placeholder="请输入描述信息" type="text" class="form-control" name="desc-from" id="desc-form" maxlength="150">
                      </div>
                      </div>
                     <div class="form-group">
                      <label for="thumbnail-label" class="control-label col-sm-1">图片地址</label><!--label标签的for作用，如果这个for设置input标签的id，这样我们点击这个标题，就会在for里设置的input的id的input输入框里显示一个输入内容的纵行线-->
                      <div class="col-sm-5 input-group">
                         <input style="margin-left:14px;" placeholder="请输入图片地址" type="text" class="form-control" name="thumbnail" id="thumbnail-form" maxlength="150">
                        <span class="input-group-btn"><!--如果想按钮在input同一行，按钮必须在span标签标签class必须为input-group-btn-->
                            <label class="btn btn-info btn-file">
                                上传图片
                                <input hidden type="file" class="btn btn-info" id="thumbnail-btn">
                            <!--这里选择type类型为file就是上传文件，-->
                            </label>
                        </span>
                      </div>
                      </div>
                     <div class="form-group " style="display:none;" id="progress-group">
                         <div style="margin-left:20px;" class="progress col-sm-5">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            0%
                        </div>
                    </div>
                     </div>
                     <div class="form-group">
                      <label for="content-form" class="control-label col-sm-1">文章内容</label><!--label标签的for作用，如果这个for设置input标签的id，这样我们点击这个标题，就会在for里设置的input的id的input输入框里显示一个输入内容的纵行线-->
                        <div class="col-sm-8">
                            <script id="editor" type="text/plain"></script>
                      </div>

                 </div>
                  <div class="box-footer"><!--提交按钮放到这里-->
                      <button class="btn btn-primary pull-right" style="width:120px;height:35px;">保存</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
{% endblock %}